# --extra-index-url https://us-python.pkg.dev/ml-oss-artifacts-published/jax/simple/
# --find-links https://storage.googleapis.com/jax-releases/libtpu_releases.html
# --pre

tpu-inference @ git+https://github.com/vllm-project/tpu-inference.git@0329f70860e1b45d78aa6453594a7810bf6b061d

